@import url('https://fonts.googleapis.com/css2?family=Afacad&family=DM+Serif+Display:ital@0;1&family=Geologica:wght@100;300;600&family=Noto+Serif+Display:ital,wght@0,300;0,600;1,300&family=Poppins:wght@100&display=swap');


body{
background-color: #93B1A6;
font-family: 'Afacad', sans-serif;
}
.header{
  color: #183D3D;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1{
  display: flex;
  align-items: center;
}

h2{
  margin: 0;
  border-bottom:  1px solid #5C8374;
  margin-bottom: 8px;
}

.dark-mode{
  background-color: #040D12;
}

.dark-mode h1{
  color: #93B1A6;
}
.container{
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 100vh;
}

.notes-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.note.new{
  background-color: #5C8374;

}

.title{
  border: none;
  background-color: #5C8374;
  border-bottom:  1px solid #183D3D;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;

}

.title:focus{
  outline: none;
}
.title::placeholder,
.text-area::placeholder{
  color: #183D3D;
  font-weight: bolder;
}

textarea{
  border: none;
  resize: none;
  background-color: #5C8374;
}

textarea:focus{
  outline: none;
}


.add-btn{
  color: #183D3D;
}

.save{
  background-color: #183D3D;
  color: #93B1A6;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
}

.save:hover{
  background-color:#5C8374;
  border: 2px solid #183D3D;
  color:#183D3D;
  cursor: pointer;
}

.note{
  background-color: #183D3D;
  color: #93B1A6;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1.5rem;
  min-height: 170px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}


.note-footer{
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon{
  cursor: pointer;
}

.search{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #5C8374;
  border-radius: 20px;
  padding: 8px;
  color: black;
}

.search input{
  border: none;
  background-color: #5C8374;
}

.s-input::placeholder,
.limit{
  color: #183D3D;
  font-size: 15px;
}

.search input:focus{
  outline: none;
}

